<div data-template="prueba-javi" class="usuario-cabecera">
            <img src="{{img}}" />
            <p class="user-info usuario-nombre">{{name}}</p>
            <p class="user-info usuario-nivel">{{level}}</p>
          </div>
          <div class="usuario-fuerzadia"></div>
          <div class="usuario-bloque">{{ataque}}</div>
          <div class="usuario-bloque">{{defensa}}</div>
          <a href="#" id="btn-atacar" class="button" >Atacar</a>
          <a href="#" id="btn-cancelar-ataque" class="button" >No atacar (cobarde!)</a>